@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        1000 University Parkway<br />
        Provo, UT 84606<br />
        <abbr title="Phone">P:</abbr>
        801-555-4321
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@missionhq.com">Support@missionhq.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@missionhq.com">Marketing@missionhq.com</a>
    </address>
</div>